.info_user{
    background-image: url(../images/user_info/hoang_naz/back_ground.jpg);
}

.btn_upload:hover{
  background-color: blanchedalmond;
}
.upload-btn-wrapper {
   margin-top: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn_upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  #img-avatar{
    width: 241px;
    height: 245px;
  }


  	/* Style the search field */
form.search_product input[type=text] {
  margin-left: 10%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid #f1f1f1;
  float: left;
  width: 70%;
 
}
/* Search css */
/* Style the submit button */
form.search_product button {
  float: left;
  width: 10%;
  padding: 9px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search_product button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search_product::after {
  content: "";
  clear: both;
  display: table;
}
